<a href="https://colab.research.google.com/github/dante161121/DESAFIOLATAMDATOS/blob/main/Inmubles_cddmx.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# **PANDAS**

## **Importando la base de datos**

In [1]:
import pandas as pd
url="https://gist.githubusercontent.com/ahcamachod/a572cfcc2527046db93101f88011b26e/raw/ffb13f45a79d31223e645611a119397dd127ee3c/alquiler.csv"
pd.read_csv(url)

      Tipo;Colonia;Habitaciones;Garages;Suites;Area;Valor;Condominio;Impuesto
0          Cocineta;Condesa;1;0;0;40;5950.0;1750.0;210.0
1                       Casa;Polanco;2;0;1;100;24500.0;;
2      Conjunto Comercial/Sala;Santa Fe;0;4;0;150;182...
3      Departamento;Centro Histórico;1;0;0;15;2800.0;...
4          Departamento;Del Valle;1;0;0;48;2800.0;805.0;
...                                                  ...
25116  Cochera/Estacionamiento;Centro Histórico;0;0;0...
25117  Cocineta;Centro Histórico;0;0;0;27;2800.0;1225...
25118  Departamento;Mixcoac;2;1;0;48;4900.0;1781.5;129.5
25119  Departamento;Lomas de Chapultepec;2;0;0;70;105...
25120  Conjunto Comercial/Sala;Centro Histórico;0;0;0...

[25121 rows x 1 columns]

In [4]:
datos = pd.read_csv(url, sep=";")

In [3]:
datos.head()

,Tipo,Colonia,Habitaciones,Garages,Suites,Area,Valor,Condominio,Impuesto
0,Cocineta,Condesa,1,0,0,40,5950.0,1750.0,210.0
1,Casa,Polanco,2,0,1,100,24500.0,NaN,NaN
2,Conjunto Comercial/Sala,Santa Fe,0,4,0,150,18200.0,14070.0,3888.5
3,Departamento,Centro Histórico,1,0,0,15,2800.0,1365.0,70.0
4,Departamento,Del Valle,1,0,0,48,2800.0,805.0,NaN

In [5]:
datos.tail()

,Tipo,Colonia,Habitaciones,Garages,Suites,Area,Valor,Condominio,Impuesto
25116,Cochera/Estacionamiento,Centro Histórico,0,0,0,755,49000.0,NaN,NaN
25117,Cocineta,Centro Histórico,0,0,0,27,2800.0,1225.0,87.5
25118,Departamento,Mixcoac,2,1,0,48,4900.0,1781.5,129.5
25119,Departamento,Lomas de Chapultepec,2,0,0,70,10500.0,2660.0,NaN
25120,Conjunto Comercial/Sala,Centro Histórico,0,0,0,250,22750.0,14721.0,3881.5

In [6]:
type(datos)

pandas.core.frame.DataFrame

# **Exploracion de datos**

In [10]:
datos.shape

(25121, 9)

In [11]:
datos.columns

Index(['Tipo', 'Colonia', 'Habitaciones', 'Garages', 'Suites', 'Area', 'Valor',
       'Condominio', 'Impuesto'],
      dtype='object')

In [12]:
datos.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 25121 entries, 0 to 25120
Data columns (total 9 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   Tipo          25121 non-null  object
 1   Colonia       25121 non-null  object
 2   Habitaciones  25121 non-null  int64
 3   Garages       25121 non-null  int64
 4   Suites        25121 non-null  int64
 5   Area          25121 non-null  int64
 6   Valor         25107 non-null  float64
 7   Condominio    22495 non-null  float64
 8   Impuesto      18037 non-null  float64
dtypes: float64(3), int64(4), object(2)
memory usage: 1.7+ MB

In [13]:
datos["Tipo"]

0                       Cocineta
1                           Casa
2        Conjunto Comercial/Sala
3                   Departamento
4                   Departamento
                  ...
25116    Cochera/Estacionamiento
25117                   Cocineta
25118               Departamento
25119               Departamento
25120    Conjunto Comercial/Sala
Name: Tipo, Length: 25121, dtype: object

In [15]:
datos[["Habitaciones","Valor"]]

       Habitaciones    Valor
0                 1   5950.0
1                 2  24500.0
2                 0  18200.0
3                 1   2800.0
4                 1   2800.0
...             ...      ...
25116             0  49000.0
25117             0   2800.0
25118             2   4900.0
25119             2  10500.0
25120             0  22750.0

[25121 rows x 2 columns]

Warning: total number of rows (25121) exceeds max_rows (20000). Limiting to first (20000) rows.

In [16]:
datos.describe()

,Habitaciones,Garages,Suites,Area,Valor,Condominio,Impuesto
count,25121.000000,25121.000000,25121.000000,25121.000000,2.510700e+04,2.249500e+04,1.803700e+04
mean,1.748856,1.798655,0.656781,220.885076,3.688505e+04,9.528676e+03,4.436513e+03
std,1.811131,22.906129,1.083180,817.465428,3.669381e+05,1.547102e+05,2.283381e+04
min,0.000000,0.000000,0.000000,0.000000,3.150000e+02,3.500000e+00,3.500000e+00
25%,0.000000,0.000000,0.000000,55.000000,5.600000e+03,2.275000e+03,4.270000e+02
50%,2.000000,1.000000,0.000000,90.000000,1.137500e+04,4.056500e+03,1.008000e+03
75%,3.000000,2.000000,1.000000,180.000000,2.695000e+04,7.350000e+03,2.625000e+03
max,100.000000,1966.000000,24.000000,42000.000000,5.250000e+07,2.293400e+07,1.577188e+06

##**Demanda ML**

## **Cuales son los valores promedio de alquiler por tipo de propiedad?

In [17]:
datos.head()

,Tipo,Colonia,Habitaciones,Garages,Suites,Area,Valor,Condominio,Impuesto
0,Cocineta,Condesa,1,0,0,40,5950.0,1750.0,210.0
1,Casa,Polanco,2,0,1,100,24500.0,NaN,NaN
2,Conjunto Comercial/Sala,Santa Fe,0,4,0,150,18200.0,14070.0,3888.5
3,Departamento,Centro Histórico,1,0,0,15,2800.0,1365.0,70.0
4,Departamento,Del Valle,1,0,0,48,2800.0,805.0,NaN

In [19]:
datos["Valor"].mean()

np.float64(36885.05048392878)

In [22]:
datos.groupby("Tipo").mean(numeric_only=True)

,Habitaciones,Garages,Suites,Area,Valor,Condominio,Impuesto
Tipo,,,,,,,
Casa,3.359633,1.897248,1.438532,289.943119,31453.177064,3699.421642,6629.404851
Casa Comercial,1.801980,2.118812,0.257426,370.277228,54735.841584,7622.192308,6166.063380
Casa de Condominio,4.319672,3.555738,3.247541,566.303279,51428.609836,5286.578804,15046.939394
Casa de Vecindad,1.974684,0.379747,0.215190,79.981013,5961.740506,413.444444,706.850000
Cochera/Estacionamiento,0.064935,1.376623,0.000000,18.662338,6995.454545,1069.075000,449.458333
Cocineta,0.836088,0.020661,0.041322,29.090909,4425.856061,1521.734214,280.701461
Conjunto Comercial/Sala,0.047175,2.686323,0.000352,236.323711,57675.214550,17489.361142,5425.980245
Departamento,2.504199,1.256367,0.891899,124.014292,18683.269431,6797.092951,2634.921081
Departamento en Hotel,1.419780,0.969231,0.758242,65.848352,16285.430769,7250.650602,1768.923885
Edificio Completo,0.405530,11.175115,0.027650,1717.271889,409418.080645,234304.608696,50413.735294
Estudio,0.500000,0.250000,0.000000,103.250000,8400.000000,1921.500000,529.375000
Galpón/Depósito/Almacén,0.069204,5.311419,0.000000,2660.487889,299984.140138,48581.166667,22260.530899
Hotel,25.500000,2.500000,12.000000,885.500000,87500.000000,NaN,21707.000000
Industria,0.000000,0.000000,0.000000,22.000000,420000.000000,NaN,NaN
Loft,1.078947,0.552632,0.421053,56.263158,9924.526316,3501.200000,887.080645
Loteo/Condominio,0.000000,0.000000,0.000000,215.000000,92166.666667,NaN,17097.500000
Posada/Chalé,23.000000,0.000000,23.000000,862.000000,5180.000000,1032.500000,NaN
Rancho,5.125000,0.000000,3.750000,14993.750000,38014.375000,NaN,4375.000000
Terreno Estándar,0.066667,0.000000,0.000000,4012.044444,135364.444444,NaN,24988.750000
Tienda en Centro Comercial,0.055838,8.385787,0.010152,92.197970,32556.785714,6824.166667,4127.755882
Tienda/Salón,0.011840,1.349727,0.001821,242.169399,56263.544252,10395.491137,10532.468927